config/schema/gateway_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="gatewayProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gateway">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="host" type="xs:string"/>
              <xs:element name="port" type="xs:unsignedShort"/>
              <xs:element name="path" type="xs:string"/>
              <xs:element name="useSsl" type="xs:boolean"/>
              <xs:element name="sni" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
